.Spinner {
  height: 70px;
  position: relative;
  top: 30vh;

  .preloader-2 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  div {
    color: $white;
    margin: 5px 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 11px;
    letter-spacing: 2px;
  }

  .preloader-2 .line {
    width: 3px;
    height: 36px;
    background: $white;
    margin: 0 1px;
    display: inline-block;
    animation: opacity-2 1000ms infinite ease-in-out;
  }

  .preloader-2 .line-1 {
    animation-delay: 1600ms;
  }
  .preloader-2 .line-2 {
    animation-delay: 1400ms;
  }
  .preloader-2 .line-3 {
    animation-delay: 1200ms;
  }
  .preloader-2 .line-4 {
    animation-delay: 1000ms;
  }
  .preloader-2 .line-5 {
    animation-delay: 800ms;
  }
  .preloader-2 .line-6 {
    animation-delay: 600ms;
  }
  .preloader-2 .line-7 {
    animation-delay: 400ms;
  }
  .preloader-2 .line-8 {
    animation-delay: 200ms;
  }
  .preloader-2 .line-10 {
    animation-delay: 200ms;
  }
  .preloader-2 .line-11 {
    animation-delay: 400ms;
  }
  .preloader-2 .line-12 {
    animation-delay: 600ms;
  }
  .preloader-2 .line-13 {
    animation-delay: 800ms;
  }
  .preloader-2 .line-14 {
    animation-delay: 1000ms;
  }
  .preloader-2 .line-15 {
    animation-delay: 1200ms;
  }
  .preloader-2 .line-16 {
    animation-delay: 1400ms;
  }
  .preloader-2 .line-17 {
    animation-delay: 1600ms;
  }

  @keyframes opacity-1 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes opacity-2 {
    0% {
      opacity: 1;
      height: 45px;
    }
    50% {
      opacity: 0;
      height: 36px;
    }
    100% {
      opacity: 1;
      height: 45px;
    }
  }
}
